* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: --FS-elliot;
}
@font-face {
  font-family: --FS-elliot;
  src: url(./fs-elliot-pro-cufonfonts/FS\ Elliot\ ProRegular.otf);
}

body {
  position: absolute;
  margin: 100px 25%;
  border: 3px solid #3973cb;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  position: absolute;
  width: 1209px;
  height: 371px;
  background: #ffffff;
  border-radius: 10px;
  background: linear-gradient(90deg, #1953a5 0%, #0397e5 100%);
}

/* top buttons */
.container .x-button {
  float: right;
  width: 33px;
  height: 33px;
}
.container .x-button button {
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 15px;
  mix-blend-mode: normal;
  border: 2px solid #d6deeb;
  opacity: 35%;
  top: 32px;
  right: 29px;
  mix-blend-mode: normal;
  border: 2px solid #d6deeb;
  cursor: pointer;
}
button a:visited {
  font-weight: bold;
}

.question-button button {
  position: absolute;
  width: 115px;
  height: 18px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #263348;
  opacity: 30%;
  top: 70px;
  left: 60px;
  width: 170px;
  height: 40px;
  opacity: 0.3;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 28px;
}

/*End of top buttons */

/* Start of Content Area */
.container .info p {
  position: absolute;
  width: 358px;
  height: 78px;
  top: 127px;
  bottom: 166px;
  left: 60px;
  font-size: 32px;
  line-height: 38.91px;
  color: #263348;
}

.middle .icon img {
  position: absolute;
  top: 100px;
  bottom: 207px;
  left: 513px;
}

.middle .icon button {
  position: absolute;
  top: 193px;
  right: 621px;
  bottom: 160px;
  left: 502;
}

.middle .icon-2 img {
  position: absolute;
  top: 100px;
  right: 506px;
  bottom: 207px;
  left: 639px;
}

.middle .icon-2 button {
  top: 193px;
  right: 503px;
  bottom: 160px;
  left: 634px;
}

.middle .icon-3 img {
  position: absolute;
  top: 100px;
  right: 380px;
  bottom: 207px;
  left: 765px;
}
.middle .icon-3 button {
  top: 193px;
  right: 395px;
  bottom: 160px;
  left: 754px;
}

.middle .icon-4 img {
  position: absolute;
  top: 100px;
  right: 254px;
  bottom: 207px;
  left: 891px;
}
.middle .icon-4 button {
  top: 193px;
  right: 261px;
  bottom: 160px;
  left: 883px;
}

.middle .icon-5 img {
  position: absolute;
  top: 100px;
  right: 128px;
  bottom: 207px;
  left: 1017px;
}

.middle .icon-5 button {
  top: 193px;
  right: 114px;
  bottom: 160px;
  left: 1002px;
}

.middle .button button {
  position: absolute;
  width: 86px;
  height: 18px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  outline: none;
  color: #263348;
  opacity: 0.35;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  white-space: nowrap;
}
.middle .button button:hover {
  font-weight: bolder;
  color: #263348;
  opacity: 100%;
}

/* End of Content Area */

/* Start of Bottom Area  */
#rectangle {
  position: absolute;
  top: 280px;
  right: 465px;
  bottom: 79px;
  left: 115px;
  width: 629px;
  height: 12px;
  border-radius: 5px;
  background: linear-gradient(90deg, #1953a5 0%, #0397e5 100%);
}
#percent {
  position: absolute;
  top: 278px;
  right: 1109px;
  bottom: 75px;
  left: 60px;
  width: 40px;
  height: 18px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #263348;
  opacity: 0.3;
}
#bottom-button button {
  position: absolute;
  top: 257px;
  right: 39px;
  bottom: 57px;
  left: 971px;
  width: 44px;
  height: 17px;
  padding: 20px 77px 20px 78px;
  font-family: FS Elliot Pro;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: #ffffff;
  width: 199px;
  height: 57px;
  background: #0397e5;
  border-radius: 35px;
  border-style: none;
  cursor: pointer;
}

/* End of Bottom Area */
